* {
    box-sizing: border-box;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(58, 57, 57);
    color: white;
}

.container {
    background-color: rgb(39, 43, 82);
    border-radius: 5px;
    height: auto;
    width: 300px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    position: absolute;
    transform: translate(-130px, -185px);
    background-color: rgb(236, 187, 7);
    color: black;
    text-transform: uppercase;
    font-size: xx-small;
    padding: 3px;
    border-radius: 1px;
    ;
}

.upper_area {
    color: rgb(136, 132, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.upper_area__img {
    background-color: azure;
    padding: 30px;
    border-radius: 50%;
    margin-top: 20px;
    font-size: xx-large;
}

.upper_area__name {
    color: rgb(196, 198, 194);
}

.upper_area__bio,
.upper_area__location {
    font-size: small;
    width: 230px;
}

.message_btn {
    font-size: small;
    padding: 5px 15px;
    color: white;
    background-color: rgb(82, 131, 143);
    border-radius: 3px;
    width: 90px;
}

.following_btn {
    width: 90px;
    font-size: small;
    padding: 5px 15px;
    color: rgb(82, 131, 143);
    border: 1px solid rgb(82, 131, 143);
    border-radius: 3px;
}
.following_btn:active{
    transform: scale(0.9);
}
.seperator{
    margin-top: 15px;
    height: 1px;
    background-color:rgb(48, 47, 47);
    width: 80%;
}
.lower_area{
    margin-top: 15px;
}
.lower_area__heading{
    text-transform: uppercase;
    font-size: small;
    color: rgb(136, 132, 132);
    margin-bottom: 10px;
}
.buttons{
    margin-top: -5px;
}
.buttons button{
    background-color: rgb(56, 62, 113);
    font-size: small;
    color: rgb(110, 108, 108);
    border : 1px solid grey;
    padding: 1px 7px;
    border-radius: 2px;
    margin: 2px 0;
}
